// ########################################
// Font Styles    
// ########################################
@font-face
    font-family: "Assistant"
    font-display: swap
    src: url("@/assets/fonts/Assistant-VariableFont_wght.ttf") format("truetype")

$font: 'Assistant', sans-serif
